@model WeddingShare.Views.Admin.Settings.BasicModel
@using WeddingShare.Constants

@if (Model?.Settings != null && Model.Settings.Any())
{
    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_Title_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.Title" placeholder="WeddingShare" value="@Model.Settings.GetValue(Settings.Basic.Title.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Basic_Title_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_Logo_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.Logo" placeholder="my-banner.jpg">
                <option value="/images/logo.png">Default</option>
                @{
                    var currentValue = Model.Settings.GetValue(Settings.Basic.Logo.ToUpper(), string.Empty);
                    if (Model?.CustomResources != null && Model.CustomResources.Any())
                    {
                        foreach (var option in Model.CustomResources)
                        {
                            var path = $"/custom_resources/{option.FileName}";
                            if (currentValue.Equals(path, StringComparison.OrdinalIgnoreCase))
                            {
                                <option value="@path" selected="selected">@option.FileName</option>
                            }
                            else
                            {
                                <option value="@path">@option.FileName</option>
                            }
                        }
                    }
                    else if (!string.IsNullOrWhiteSpace(currentValue))
                    {
                        <option value="@currentValue" selected="selected">@currentValue?.Split(new[] { '/' }, StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)?.LastOrDefault()</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_Logo_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_BaseUrl_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.BaseUrl" placeholder="https://wedding-share.your-domain.com/" value="@Model.Settings.GetValue(Settings.Basic.BaseUrl.ToUpper(), string.Empty)" type="text" />
            <div class="form-text">@_localizer["Settings_Basic_BaseUrl_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_ForceHttps_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.ForceHttps">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(Settings.Basic.ForceHttps.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_ForceHttps_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_SingleGalleryMode_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.SingleGalleryMode">
                @foreach (var option in ViewOptions.SingleGalleryMode)
                {
                    if (Model.Settings.GetValue(Settings.Basic.SingleGalleryMode.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_SingleGalleryMode_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_MaxGalleryCount_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.MaxGalleryCount" placeholder="1000000" value="@Model.Settings.GetValue(Settings.Basic.MaxGalleryCount.ToUpper(), "1000000")" type="number" min="1" max="@(int.MaxValue.ToString())" step="10" />
            <div class="form-text">@_localizer["Settings_Basic_MaxGalleryCount_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GallerySelectorDropdown_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.GallerySelector.Dropdown">
                @foreach (var option in ViewOptions.GallerySelectorDropdown)
                {
                    if (Model.Settings.GetValue(Settings.GallerySelector.Dropdown.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GallerySelectorDropdown_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GallerySelectorHideDefault_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.GallerySelector.HideDefaultOption">
                @foreach (var option in ViewOptions.YesNoInverted)
                {
                    if (Model.Settings.GetValue(Settings.GallerySelector.HideDefaultOption.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GallerySelectorHideDefault_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_HomeLink_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.HomeLink">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(Settings.Basic.HomeLink.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_HomeLink_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_GuestGalleryCreation_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.GuestGalleryCreation">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(Settings.Basic.GuestGalleryCreation.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_GuestGalleryCreation_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_HideKeyFromQRCode_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.HideKeyFromQRCode">
                @foreach (var option in ViewOptions.YesNoInverted)
                {
                    if (Model.Settings.GetValue(Settings.Basic.HideKeyFromQRCode.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_HideKeyFromQRCode_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_LinksOpenNewTab_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.LinksOpenNewTab">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(Settings.Basic.LinksOpenNewTab.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_LinksOpenNewTab_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_ThumbnailSize_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Settings.Basic.ThumbnailSize" placeholder="720" value="@Model.Settings.GetValue(Settings.Basic.ThumbnailSize.ToUpper(), "720")" type="number" min="100" step="50" />
            <div class="form-text">@_localizer["Settings_Basic_ThumbnailSize_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4">
        <div class="col-12">
            <label>@_localizer["Settings_Basic_EmailReport_Label"].Value</label>
            <select class="setting-field form-control" data-setting-name="@Settings.Basic.EmailReport">
                @foreach (var option in ViewOptions.YesNo)
                {
                    if (Model.Settings.GetValue(Settings.Basic.EmailReport.ToUpper(), "true").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@option.Value" selected="selected">@option.Key</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                }
            </select>
            <div class="form-text">@_localizer["Settings_Basic_EmailReport_Help"].Value</div>
        </div>
    </div>
}