@model List<GalleryItemModel>
@using WeddingShare.Constants
@using WeddingShare.Models.Database
@using WeddingShare.Views.Admin

@{
    var userPermissions = User?.Identity?.GetUserPermissions() ?? AccessPermissions.None;
    var identityEnabled = await _settings.GetOrDefault(Settings.IdentityCheck.Enabled, true);
}

<div class="row">
    @if (userPermissions.HasFlag(AccessPermissions.Review_View) && Model != null && Model.Any())
    {
        foreach (var review in Model)
        {
            <div class="pending-approval col-12 col-lg-4 mb-4 mb-lg-0 mb-1 mb-lg-4">
                <div class="card">
                    <a href="/uploads/@review.GalleryName/Pending/@review.Title" class="media-viewer-item" data-media-viewer-type="@review.MediaType.ToString().ToLower()" data-media-viewer-collection="@review.GalleryName" data-media-viewer-author="@(identityEnabled ? $"{_localizer["Uploaded_By"].Value}: {(!string.IsNullOrWhiteSpace(review?.UploadedBy) ? review?.UploadedBy : "Anonymous")}" : string.Empty)" data-media-viewer-download="true">
                        <img src="/thumbnails/@($"{System.IO.Path.GetFileNameWithoutExtension(review?.Title)}.webp")" class="review-tile" loading="lazy" />
                        @if (review?.MediaType == MediaType.Video)
                        {
                            <img src="/images/play-button.svg" class="media-viewer-play" loading="lazy" />
                        }
                        @if (userPermissions.HasFlag(AccessPermissions.Review_Approve))
                        {
                            <i class="fa fa-thumbs-up btnReviewApprove d-lg-none" data-id="@review?.Id" data-name="@review?.Title"></i>
                        }
                        @if (userPermissions.HasFlag(AccessPermissions.Review_Reject))
                        {
                            <i class="fa fa-thumbs-down btnReviewReject d-lg-none" data-id="@review?.Id" data-name="@review?.Title"></i>
                        }
                    </a>
                    <div class="card-header my-0 py-0">
                        <div class="row card-title text-capitalize border-top py-0 pt-2">
                            @if (identityEnabled)
                            {
                                <div class="col-12 col-lg-6 text-lg-center">
                                    <b>@_localizer["Gallery"].Value:</b> @review?.GalleryName
                                </div>
                                <div class="col-12 col-lg-6 text-lg-center">
                                    <b>@_localizer["Uploader"].Value:</b> @(!string.IsNullOrWhiteSpace(review?.UploadedBy) ? review.UploadedBy : "Anonymous")
                                </div>
                            }
                            else
                            {
                                <div class="col-12">
                                    <b>@_localizer["Gallery"].Value:</b> @review?.GalleryName
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12 text-center border rounded py-3 py-lg-4">
            <h3 class="display-6">@_localizer["No_Pending_Uploads"].Value</h3>
        </div>
    }
</div>